<%- include ('header') %>

<h1>hahaha</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, iusto animi! Maiores nesciunt quis nobis ducimus
    maxime nostrum, corporis ut?
</p>

<%- include ('footer') %>